/*
Document   : variables
Created on : 21/02/2013, 11:36:13 PM
Author     : khrassi.zlateff@gmail.com
Description:
Purpose of the stylesheet follows.
*/

// main color pallet
$main-color: #2B2D35;
$alternative-color: #443D3F;
$shift-color: #EEEDEC;
$fourth-color: #67483D;
$fifth-color: #A06C58;
$sixth-color: #BFB2A6;
$seventh-color: #513A43;
$eighth-color: #40313B;
$ninth-color: #A9758A;
$tenth-color: #D3BBC1;
$eleventh-color: #8A5D73;
$twelveth-color: #6B525F;
$thirteenth-color: #798286;
$fourteenth-color: #D15759;

// progress bar color pallet
$progress-danger-color: #c9302c;
$progress-warning-color: #f0ad4e;
$progress-info-color: #31b0d5;
$progress-primary-color: #286090;
$progress-success-color: #449d44;
