# Node and related ecosystem
node_modules/
public/jspm_packages
app/tests/coverage/

# assets
.sass-cache
public/dist
public/lib
uploads
modules/users/client/img/profile/uploads
config/env/local.js

# General
*.log
logs/
build/
.DS_Store
public/.DS_Store

#IntelliJ
.idea

